.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px 0;
}

.field {
  gap: 16px;
  word-wrap: break-word;
}
